// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-wikinimous {
  justify-content: space-between;
}

.navbar-brand > p {
  margin-bottom: 0px;
}

.navbar-wikinimous .navbar-collapse {
  flex-grow: 0;
}


article {
  font-family: Roboto;
  font-weight: 300;
  font-size: 120%;
}

article img {
  max-width: 100%;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: "Roboto Slab";
  font-weight: 400;
}

.article h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.article a {
  color: #337ab7;
}

